h1 {
    text-align: center;
    font-size:5rem;
    
}
input,button {
    border: 2px;
    padding: 14px 28px;
    display: inline;
    font-size: 2rem;
    text-align: center;
  
    border-radius: 4px;;
}
form{
    text-align: center;
    padding-bottom: 40px;
}
body{
    background-color: teal;
}
input[type="submit"]:hover {
background-color: black;
color: white;
border:blue;
}
#remove:hover {
color: red;
background-color: black;
}
.row {
    display:inline;
    margin: 20px 20px;
}
